<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<block name="title"><title>标题</title></block>
<block name="css"><include file="Public/css" /></block>
<block name="style"><include file="Public/style" /></block>
</head>
<body>
	<div class="app ng-scope app-header-fixed">
		<block name="header"><include file="Public/header" /></block>
		<block name="menu"><include file="Public/menu" /></block>
		<div id="content" class="app-content ng-scope">
		<div class="ng-scope">
		<div class="p-md ng-scope">
		<block name="content"></block>
		</div>
		</div>
		</div>
	</div>
	<block name="js"><include file="Public/js" /></block>
	<block name="script"><include file="Public/script" /></block>
</body>
</html>