<aside id="aside" class="app-aside hidden-xs bg-dark lt"
	ng-class="{'show animated fadeInLeft' : app.asideCollapse}"
	ng-include="'views/aside.html'">
	<div class="app-aside-inner ng-scope affix-top" bs-affix=""
		style="position: relative;">
		<!-- uiView: aside@ -->
		<div class="app-aside-body scrollable hover ng-scope" ui-view="aside@">
			<nav ui-nav="" class="ng-scope">
				<ul class="nav">
					<li class="nav-header h4 m-v-sm">UI Kits</li>
						<li class="menu-list">
					      <a>
					        <span class="pull-right text-muted">
					          <i class="fa fa-caret-down"></i>
					        </span>
					        <i class="icon glyphicon glyphicon-list text-lt"></i>
					        <span class="font-normal">权限管理</span>
					      </a>
					      <ul class="nav nav-sub bg">
					        <li ui-sref-active="active">
					          <a  href="{:U('auth/group')}">角色管理</a>
					        </li>
					        <li ui-sref-active="active">
					          <a href="{:U('auth/rule')}">菜单管理</a>
					        </li>
					      </ul>
					    </li>
					</ul>	
			</nav>
		</div>
		<div class="app-aside-footer p text-xs text-center">
			<span><strong class="text-lt">3.5</strong>GB</span>
			<div class="progress progress-xs bg no-margin m-h-xs inline w-xs">
				<div class="progress-bar progress-bar-info" style="width: 30%"></div>
			</div>
			<span>10GB</span>
		</div>
	</div>
</aside>